body {
    font-family: "IBM Plex Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #0073e6;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo .logolink:visited{
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.sign-inout-btn {
    background-color: white;
    color: #0073e6;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    border: none;
}

.hero {
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(33, 48, 106);
    text-align: center;
}

.hero-content {
    max-width: 600px;
}

.cta-btn {
    background-color: #ff6600;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #ffffff;
}

.features .feature {
    text-align: center;
    max-width: 300px;
}

.features .feature img {
    width: 60px;
    height: 60px;
}

.how-it-works {
    text-align: center;
    padding: 50px;
    background-color: #e6e6e6;
}

.how-it-works .steps {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.how-it-works .step {
    max-width: 200px;
}

.testimonials {
    padding: 50px;
    background-color: #ffffff;
}

.testimonials h2 {
    text-align: center;
}

.testimonial {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.testimonial img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

footer {
    text-align: center;
    color: #0073e6;
}

@media only screen and (max-width:320px) {
    .sign-in-btn{
        display: none;
    }

    .features{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width:376px){
    .features{
        display: flex;
        flex-direction: column;
    }
}

#loggingError{
    color: red;
}