body{
    margin: 0;
    padding: 0;
    background-color: white;
    user-select: none;
}

#container, #dcontainer{
    max-width: 325px;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
}

.small-notice{
    margin-top: 10px;
}

ul li {
    list-style: none;
}

input[type="file"]::file-selector-button {
    background-color: #d5d6ff;
    color: rgb(36, 29, 29);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit{
    margin-top: 15px;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 8px;
}

#submit:hover{
    color: #e6e6ff;
    background-color: #323241;
    transition: 0.5s;
    cursor: pointer;
}

.alert{
    color: red;
    font-size: small;
}

#popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    background-color: #e9fcff;
    padding: 20px;
    border: 2px solid #f5c6cb;
    z-index: 10;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
}

#closeBtn {
    background-color: #f6b3ba;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}

#fileList li:hover{
    text-decoration: underline;
    cursor: pointer;
}


.upload-area {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    width: 270px;
    margin-bottom: 20px;
}

.upload-area.dragover {
    border-color: #333;
}

#fileInput {
    display: none;
}

#browseBtn{
    border: none;
    border-radius: 10px;
    padding: 10px;
}

#browseBtn:hover{
    cursor: pointer;
}

#signOut:hover{
    cursor: pointer;
}
